


<div class="main-container">

  <div class="arrow">

  </div>
  <div class="outer-circle">
    <div class="outer-circle-palete">
      @for (color of displayedOuterColors; track $index) {
      <div class="first-layer colors" [class]="'color'+$index"
        [style]="'transform: rotate('+ $index * 14.4 + 'deg) translateX(250px); background-color:'+color.code+''"
        (click)="rotateOuterCircle($index,color)">

      </div>
      }
    </div>
    <div class="inner-circle">
      <div class="inner-circle-palete">
        @for (color of displayedInnerColors; track $index) {
        <div class="second-layer colors" [class]="'color'+$index"
          [style]="'transform: rotate('+ $index * 14.4 + 'deg) translateX(200px); background-color:'+color.code+''"
          (click)="rotateInnerCircle($index,color)">
        </div>
        }
      </div>
      <div class="result-gradient"
        [style.background]="'linear-gradient(140deg, '+outerChoosenColor.code+' 0%, '+outerChoosenColor.code+' 35%, '+innerChoosenColor.code+' 100%)'">
        <div class="copy-code ">
          <i class="fa-regular fa-copy" (click)="copyColorCode(copyText)"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="copyToClipboardToast w-50 p-3 rounded" [ngClass]="isToastShow ? 'toastOnShow' : 'toastOnHide'">
    Copied color code Successfully
  </div>
</div>
